$al-width:100%;
$box-width:1210px;
$box-height:36px;
$margin:0 auto;
$fl:left;
$fr:right;
$font12:12px;
$font14:14px;
$font16:16px;
$f12-color:#555;
body {
    background: #F5F5F5;
}

.header {
    width: $al-width;
}

.top {
    height: $box-height;
    margin: $margin;
}

.top a {
    color: $f12-color;
}

.city a {
    font-size: $font12;
    color: $f12-color;
    display: block;
    height: 34px;
    line-height: 34px;
    padding: 0 9px 1px 9px;
}

.city-span1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('https://statics.cnrmall.com/web/static/img/web_common_pic.png') no-repeat -40px 0;
    vertical-align: middle;
}

.icon-xia {
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url('https://statics.cnrmall.com/web/static/img/web_common_pic.png') no-repeat -110px -60px;
    margin-left: 9px;
}