@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fl-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.wrap {
  width: 1210px;
  margin: 0 auto;
}

body {
  background: #F5F5F5;
}

.header {
  width: 100%;
  background: #F5F5F5;
  border-bottom: 1px solid #e5e5e5;
}

.top {
  height: 36px;
  margin: 0 auto;
}

.top a {
  color: #555;
}

.city a {
  font-size: 12px;
  color: #555;
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 0 9px 1px 9px;
}

.city-span1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("https://statics.cnrmall.com/web/static/img/web_common_pic.png") no-repeat -40px 0;
  vertical-align: middle;
}

.icon-xia {
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url("https://statics.cnrmall.com/web/static/img/web_common_pic.png") no-repeat -110px -60px;
  margin-left: 9px;
}

.login-nihao,
.login-nihao1 {
  padding: 8px 9px 7px;
  font-size: 12px;
  color: #555;
  line-height: 20px;
}

.login-nihao :nth-child(1) {
  color: #F30213;
}

.my-old dt {
  padding: 8px 9px 7px;
  line-height: 20px;
}

.my-old {
  font-size: 12px;
  color: #555;
  position: relative;
  margin-right: 5px;
}
.my-old ul {
  position: absolute;
  top: 36px;
  width: 85.2px;
  background: #fff;
  border: 1px solid #DFDFDF;
  border-top: none;
  display: none;
}
.my-old ul li {
  padding: 8px 9px;
}
.my-old dt {
  border: 1px solid rgba(223, 223, 223, 0);
}
.my-old dt:hover + dd ul {
  display: block;
}
.my-old ul:hover {
  display: block;
}
.my-old dt:hover {
  border: 1px solid #dfdfdf;
  border-bottom: none;
}

.serch-logo {
  background: #fff;
}

.logo-serch {
  height: 109px;
}

.logo {
  width: 240px;
  height: 68px;
  float: left;
  margin-top: 20px;
  margin-right: 120px;
}

.serch {
  margin-top: 34px;
  width: 555px;
}

.search-form {
  height: 36px;
}

.keyword {
  white-space: nowrap;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
  margin-top: 5px;
}

.key-tx {
  float: left;
  color: #666;
  font-size: 12px;
}

.serch-ul {
  display: inline-block;
}

.serch-ul li {
  float: left;
  margin-right: 10px;
}

.serch-ul li a {
  font-size: 12px;
  color: #999;
}

.input-text {
  width: 460px;
  height: 24px;
  padding: 4px;
  border: 2px solid #F30213;
  outline: none;
}

.input-submit {
  display: block;
  width: 80px;
  height: 36px;
  background: #F30213;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.buycar {
  width: 91px;
  height: 34px;
  float: left;
  margin-top: 34px;
  padding: 0 28px 0 19px;
  background: #f9f9f9;
  border: 1px solid #DFDFDF;
  font-size: 12px;
  line-height: 34px;
  margin-left: 30px;
}
.buycar a {
  color: #F30213;
}

.bcar-ic {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("https://statics.cnrmall.com/web/static/img/web_common_pic.png") no-repeat 0px -30px;
  vertical-align: middle;
}

.nav-out {
  background: #fff;
  border-bottom: solid 2px #F30213;
}

.nav {
  height: 40px;
  width: 1210px;
  margin: 0 auto;
}
.nav .nav-title {
  width: 160px;
  height: 20px;
  background: #F30213;
  line-height: 20px;
  padding: 10px 10px 11px 10px;
  position: relative;
}
.nav .nav-title a {
  color: #fff;
}
.nav .nav-title h3 {
  width: 150px;
}
.nav .nav-title .nav-i {
  position: absolute;
  right: 15px;
  top: 45%;
  width: 9px;
  height: 6px;
  background: url("https://statics.cnrmall.com/web/static/img/web_common_pic.png") no-repeat -90px -60px;
}
.nav .nav-right {
  max-width: 998px;
  white-space: nowrap;
  overflow: hidden;
}
.nav .nav-right a {
  display: inline-block;
  font-size: 15px;
  color: #000;
  line-height: 20px;
  padding: 8px 24px;
  font-weight: normal;
}
.nav .nav-right a:hover {
  color: #F30213;
}

.list-bg {
  background: #fff;
  padding-top: 40px;
}

.list {
  width: 1210px;
  margin: 0 auto;
}
.list .item {
  position: relative;
  z-index: 11;
  display: block;
  float: left;
  width: 240px;
  height: 475px;
  margin-top: 10px;
}
.list .item .goods-pic a {
  display: block;
  width: 220px;
  height: 220px;
}

.btn-sort {
  background: #F1F1F1;
  height: 37px;
  padding: 0 8px;
  border-bottom: 1px solid #E7E3E7;
  vertical-align: middle;
}
.btn-sort button {
  background-color: #fff;
  color: #000;
  outline: none;
  padding: 2px 10px;
  cursor: pointer;
  border: none;
  margin: 8px 0 0;
}
.btn-sort button:hover {
  color: #fff;
  background: #f30213;
}

.goods-content {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 38px 9px 10px 9px;
  background-color: #FFF;
  border: solid 1px #FFF;
  overflow: hidden;
  transition: border-color 0.15s ease;
}

.goods-pic {
  background: #FFF;
  width: 220px;
  height: 220px;
}
.goods-pic img {
  max-width: 220px;
  max-height: 220px;
}

.goods-pic a {
  line-height: 0;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.goods-info {
  width: 220px;
  background-color: #FFF;
}

.goods-price-deal {
  overflow: hidden;
}

.goods-price-offer {
  position: relative;
  z-index: 1;
  display: block;
  height: 22px;
  padding: 15px 0 8px 0;
  color: #E4393C;
}

.goods-price-offer i {
  float: right;
  height: 14px;
  padding: 0px 2px;
  margin-right: 6px;
  border-radius: 2px;
  background-color: #f30213;
  font-size: 11px;
  color: #FFF;
  line-height: 14px;
}

.p-name {
  height: 40px;
  margin-bottom: 8px;
  overflow: hidden;
}
.p-name p {
  display: inline;
  overflow: hidden;
  line-height: 20px;
  transition: height .08s ease;
  font-size: 12px;
  color: #ffaa71;
}

.p-commit {
  overflow: hidden;
  width: 100%;
  height: 18px;
  margin-top: -3px;
  margin-bottom: 9px;
}
.p-commit span {
  font-size: 12px;
  color: #a7a7a7;
}

.p-shop {
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  margin-top: -3px;
  margin-bottom: 9px;
}
.p-shop span {
  display: inline-block;
  height: 18px;
}
.p-shop span a {
  color: #999;
  font-size: 12px;
}

.p-icons {
  overflow: hidden;
  zoom: 1;
  height: 16px;
  margin-bottom: 12px;
}
.p-icons i {
  overflow: hidden;
  float: left;
  height: 16px;
  text-align: center;
  padding: 0 3px;
  margin-right: 3px;
  border-radius: 2px;
  background: #F30213;
  font-family: "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #FFF;
  cursor: default;
}

.p-operate {
  overflow: hidden;
  margin-bottom: 10px;
}
.p-operate .p-o-btn {
  position: relative;
  float: left;
  height: 25px;
  padding: 0 3px 0 24px;
  border: 1px solid #DDD;
  background: #fff;
  line-height: 25px;
}
.p-operate .p-o-btn a {
  font-size: 12px;
  color: #999;
}
.p-operate .p-o-btn i {
  position: absolute;
  top: 3px;
  left: 1px;
  display: block;
  width: 18px;
  height: 18px;
  background: url("https://statics.cnrmall.com/web/static/img/search.ele.png") no-repeat 0 -500px;
  font-style: normal;
  transition: background-position .15s ease-in-out;
}
.p-operate .focus {
  width: 28px;
}
.p-operate .addcart {
  width: 78px;
  text-align: center;
  margin-left: -1px;
}

.ccti {
  background: #fff;
}

.ccti-footer {
  margin: 0 105px;
}
.ccti-footer i {
  display: block;
  width: 250px;
  height: 84px;
  float: left;
  background: url("https://statics.cnrmall.com/web/static/img/cti.png") no-repeat;
}

.faq {
  background: #fff;
}
.faq .notice {
  width: 300px;
  height: 134px;
  float: left;
  border-right: 1px solid #eaeaea;
  font-family: '微软雅黑';
  margin: 25px 0 25px 2%;
}
.faq .notice ul {
  padding: 0 6px 0 15px;
}
.faq .notice li {
  width: 250px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 24px;
}
.faq .notice li a {
  color: #999;
  font-size: 12px;
}
.faq .notice h2 {
  color: #666;
  padding: 5px 5px 5px 20px;
  margin: 0 0 5px;
}
.faq .link {
  margin-left: 50px;
  padding: 20px 0;
  float: left;
  width: 823px;
}
.faq .link li {
  font-size: 12px;
  width: 19%;
  display: inline-block;
  vertical-align: top;
}
.faq .link li dl {
  width: 90%;
  margin: 0 auto;
}
.faq .link dt {
  font-size: 20px;
  color: #666;
  margin: 5px 0;
  padding: 5px;
}
.faq .link dd {
  padding: 2px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
}
.faq .link dd a {
  color: #999;
}

.footer {
  background: #343a3a;
  text-align: center;
}
.footer p {
  color: #eeeeee;
  padding: 15px 0 0;
  font-size: 12px;
}
.footer a {
  color: #eeeeee;
}
.footer .footer-img {
  padding: 20px 0 10px;
  margin: 0 auto;
  width: 535px;
}
.footer .footer-img li {
  float: left;
  margin-right: 20px;
}
.footer .footer-img a {
  display: block;
}
.footer .footer-img a img {
  width: 100%;
}
.footer .footer-img .img01 {
  width: 108px;
  height: 40px;
}
.footer .footer-img .img02 {
  width: 131px;
  height: 47px;
}
.footer .footer-img .img03 {
  width: 108px;
}
.footer .footer-img .img04 {
  width: 108px;
  height: 40px;
  background: url("https://statics.cnrmall.com/web/static/img/yangguang-footer.png") no-repeat -488px 0;
}

.to-top {
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  background: #7a6e6e url("https://statics.cnrmall.com/web/static/img/toolbar_bg.png") no-repeat 0 -250px;
}

/*# sourceMappingURL=list.css.map */
