@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fl-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.wrap {
  width: 1210px;
  margin: 0 auto;
}

body {
  background: #F5F5F5;
}

.header {
  width: 100%;
  background: #F5F5F5;
  border-bottom: 1px solid #e5e5e5;
}

.top {
  height: 36px;
  margin: 0 auto;
}

.top a {
  color: #555;
}

.city a {
  font-size: 12px;
  color: #555;
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 0 9px 1px 9px;
}

.city-span1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("https://statics.cnrmall.com/web/static/img/web_common_pic.png") no-repeat -40px 0;
  vertical-align: middle;
}

.icon-xia {
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url("https://statics.cnrmall.com/web/static/img/web_common_pic.png") no-repeat -110px -60px;
  margin-left: 9px;
}

.login-nihao,
.login-nihao1 {
  padding: 8px 9px 7px;
  font-size: 12px;
  color: #555;
  line-height: 20px;
}

.login-nihao :nth-child(1) {
  color: #F30213;
}

.my-old dt {
  padding: 8px 9px 7px;
  line-height: 20px;
}

.my-old {
  font-size: 12px;
  color: #555;
  position: relative;
  margin-right: 5px;
}
.my-old ul {
  position: absolute;
  top: 36px;
  width: 85.2px;
  background: #fff;
  border: 1px solid #DFDFDF;
  border-top: none;
  display: none;
}
.my-old ul li {
  padding: 8px 9px;
}
.my-old dt {
  border: 1px solid rgba(223, 223, 223, 0);
}
.my-old dt:hover + dd ul {
  display: block;
}
.my-old ul:hover {
  display: block;
}
.my-old dt:hover {
  border: 1px solid #dfdfdf;
  border-bottom: none;
}

.serch-logo {
  background: #fff;
}

.logo-serch {
  height: 109px;
}

.logo {
  width: 240px;
  height: 68px;
  float: left;
  margin-top: 20px;
  margin-right: 120px;
}

.serch {
  margin-top: 34px;
  width: 555px;
}

.search-form {
  height: 36px;
}

.keyword {
  white-space: nowrap;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
  margin-top: 5px;
}

.key-tx {
  float: left;
  color: #666;
  font-size: 12px;
}

.serch-ul {
  display: inline-block;
}

.serch-ul li {
  float: left;
  margin-right: 10px;
}

.serch-ul li a {
  font-size: 12px;
  color: #999;
}

.input-text {
  width: 460px;
  height: 24px;
  padding: 4px;
  border: 2px solid #F30213;
  outline: none;
}

.input-submit {
  display: block;
  width: 80px;
  height: 36px;
  background: #F30213;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.buycar {
  width: 91px;
  height: 34px;
  float: left;
  margin-top: 34px;
  padding: 0 28px 0 19px;
  background: #f9f9f9;
  border: 1px solid #DFDFDF;
  font-size: 12px;
  line-height: 34px;
  margin-left: 30px;
}
.buycar a {
  color: #F30213;
}

.bcar-ic {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("https://statics.cnrmall.com/web/static/img/web_common_pic.png") no-repeat 0px -30px;
  vertical-align: middle;
}

.nav-out {
  background: #fff;
  border-bottom: solid 2px #F30213;
}

.nav {
  height: 40px;
  width: 1210px;
  margin: 0 auto;
}
.nav .nav-title {
  width: 160px;
  height: 20px;
  background: #F30213;
  line-height: 20px;
  padding: 10px 10px 11px 10px;
  position: relative;
}
.nav .nav-title a {
  color: #fff;
}
.nav .nav-title h3 {
  width: 150px;
}
.nav .nav-title .nav-i {
  position: absolute;
  right: 15px;
  top: 45%;
  width: 9px;
  height: 6px;
  background: url("https://statics.cnrmall.com/web/static/img/web_common_pic.png") no-repeat -90px -60px;
}
.nav .nav-right {
  max-width: 998px;
  white-space: nowrap;
  overflow: hidden;
}
.nav .nav-right a {
  display: inline-block;
  font-size: 15px;
  color: #000;
  line-height: 20px;
  padding: 8px 24px;
  font-weight: normal;
}
.nav .nav-right a:hover {
  color: #F30213;
}

.ccti {
  background: #fff;
}

.ccti-footer {
  margin: 0 105px;
}
.ccti-footer i {
  display: block;
  width: 250px;
  height: 84px;
  float: left;
  background: url("https://statics.cnrmall.com/web/static/img/cti.png") no-repeat;
}

.faq {
  background: #fff;
}
.faq .notice {
  width: 300px;
  height: 134px;
  float: left;
  border-right: 1px solid #eaeaea;
  font-family: '微软雅黑';
  margin: 25px 0 25px 2%;
}
.faq .notice ul {
  padding: 0 6px 0 15px;
}
.faq .notice li {
  width: 250px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 24px;
}
.faq .notice li a {
  color: #999;
  font-size: 12px;
}
.faq .notice h2 {
  color: #666;
  padding: 5px 5px 5px 20px;
  margin: 0 0 5px;
}
.faq .link {
  margin-left: 50px;
  padding: 20px 0;
  float: left;
  width: 823px;
}
.faq .link li {
  font-size: 12px;
  width: 19%;
  display: inline-block;
  vertical-align: top;
}
.faq .link li dl {
  width: 90%;
  margin: 0 auto;
}
.faq .link dt {
  font-size: 20px;
  color: #666;
  margin: 5px 0;
  padding: 5px;
}
.faq .link dd {
  padding: 2px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
}
.faq .link dd a {
  color: #999;
}

.footer {
  background: #343a3a;
  text-align: center;
}
.footer p {
  color: #eeeeee;
  padding: 15px 0 0;
  font-size: 12px;
}
.footer a {
  color: #eeeeee;
}
.footer .footer-img {
  padding: 20px 0 10px;
  margin: 0 auto;
  width: 535px;
}
.footer .footer-img li {
  float: left;
  margin-right: 20px;
}
.footer .footer-img a {
  display: block;
}
.footer .footer-img a img {
  width: 100%;
}
.footer .footer-img .img01 {
  width: 108px;
  height: 40px;
}
.footer .footer-img .img02 {
  width: 131px;
  height: 47px;
}
.footer .footer-img .img03 {
  width: 108px;
}
.footer .footer-img .img04 {
  width: 108px;
  height: 40px;
  background: url("https://statics.cnrmall.com/web/static/img/yangguang-footer.png") no-repeat -488px 0;
}

.to-top {
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  background: #7a6e6e url("https://statics.cnrmall.com/web/static/img/toolbar_bg.png") no-repeat 0 -250px;
}

.logo-span {
  display: block;
  width: 110px;
  height: 40px;
  position: absolute;
  right: -100px;
  bottom: 0;
  font-size: 27px;
  line-height: 30px;
  color: #333;
}

.logo {
  position: relative;
}

.tips-wrapper {
  background: #fff8f0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.tips-wrapper p {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  color: #999;
}

.login {
  position: relative;
  height: 480px;
  background-color: #e93854;
}
.login .wrap {
  background: url("https://statics.cnrmall.com/public/img/login_img.jpg") no-repeat center 0;
  height: 480px;
}
.login .nc-login {
  background: #fff;
  width: 346px;
  height: 340px;
  float: right;
  margin-top: 10px;
}
.login .nc-login .nc-login-l {
  width: 100%;
  border-bottom: 1px solid #999;
  height: 54px;
  line-height: 54px;
  text-align: center;
  overflow: hidden;
}
.login .nc-login .nc-login-l a {
  font-size: 18px;
  color: #666;
}
.login .nc-login .nc-login-l a:hover {
  color: #E4393C;
}
.login .nc-login .form {
  margin: 20px;
}
.login .nc-login .form p {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-indent: 40px;
}
.login .nc-login .form .item {
  width: 304px;
  height: 38px;
  border: 1px solid #bdbdbd;
  position: relative;
}
.login .nc-login .form input {
  outline: none;
  overflow: hidden;
  float: none;
  width: 254px;
  height: 18px;
  min-height: 18px;
  padding: 10px 0 10px 50px;
  border: 0;
  font-family: '\5b8b\4f53';
  font-size: 14px;
  line-height: 18px;
}
.login .nc-login .form label {
  position: absolute;
  z-index: 3;
  top: 1px;
  left: 1px;
  width: 38px;
  height: 38px;
  border-right: 1px solid #bdbdbd;
}
.login .nc-login .form .form-la1 {
  background: url("https://statics.cnrmall.com/web/static/img/login_pic.png") no-repeat 0 -111px;
}
.login .nc-login .form .form-la2 {
  background: url("https://statics.cnrmall.com/web/static/img/login_pic.png") no-repeat -48px -111px;
}
.login .nc-login .form .login-on {
  width: 306px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #16bd53;
  position: relative;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  font-weight: 400;
  color: #6c6c6c;
  cursor: pointer;
  margin-top: 20px;
}
.login .nc-login .form .login-on i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("https://statics.cnrmall.com/web/static/img/slideImg/slider-click.png");
  background-size: 100%;
  position: absolute;
  top: 10px;
  left: 25px;
}
.login .nc-login .form .login-on input {
  margin-left: -25px;
  display: block;
  width: 306px;
  height: 40px;
  background: rgba(250, 250, 250, 0);
  cursor: pointer;
}

/*# sourceMappingURL=registry.css.map */
